body{
    background: #e6e6e6;
    font-family: 'Brandon Grotesque' ,Arial,sans-serif;
    letter-spacing: .14em;
    text-transform: uppercase;
    font-weight: 500;

}
button{
    font-family: 'Brandon Grotesque' ,Arial,sans-serif;
    letter-spacing: .14em;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    height: 70px;
    width: 130px;
    border-radius: 10px;
    transform: rotate3d(1, 0, 0, 30deg);
    background-color: #93ede0;
    box-shadow: 0 19px 0 #93d4f5,0px 20px 8px 1px black;
}
button:focus {
    border: none;
    outline: none;
}
button:active{
    position: relative;
    box-shadow: 0 9px 0 #93d4f5,0px 9px 5px black;
    top: 10px;
}